<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="onSubmit()" 
                  [formGroup]="form" 
                  novalidate="" 
                  class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <div *ngIf="form.controls['username'].invalid && form.controls['username'].dirty" class="text-danger animated fadeIn">
                    <span *ngIf="form.controls['username'].errors?.required">El nombre de usuario es requerido</span><br/>
                    <span *ngIf="form.controls['username'].errors?.maxlength">La longitud máxima es de 10 caracteres</span><br/>
                    <span *ngIf="form.controls['username'].errors?.pattern">No se permiten caracteres especiales</span><br/>
                </div>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" 
                           type="text" 
                           formControlName="username" 
                           placeholder="Username">
                    <span class="focus-input100"></span>
                </div>
                
                <div *ngIf="form.controls['password'].invalid && form.controls['password'].dirty" class="text-danger animated fadeIn">
                    <span *ngIf="form.controls['password'].errors?.required">La contraseña es requerido</span><br/>
                    <span *ngIf="form.controls['password'].errors?.pattern">No se permiten caracteres especiales</span><br/>
                </div>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" 
                           type="password" 
                           formControlName="password" 
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                       <!--  <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label> -->
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>